<configuration>
  <system.web>
    <httpRuntime maxRequestLength="1048576" /> <!-- 1 GB limit -->
    <customErrors mode="Off" />
    <compilation debug="true" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" /> <!-- 1 GB limit -->
      </requestFiltering>
    </security>
    <httpErrors errorMode="Detailed" />
  </system.webServer>
</configuration>